.hero-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--color-accent);
    text-align: center;

    @media (max-width: $tablet-width) {
        width: 70%;
    }    

    @media (min-width: $phone-width) and  (max-width: $tablet-mini-width) {
        width: 100%;
    }
}

.hero-block__wrapper {
    max-width: 420px;
    margin: 0 auto;
}

.hero-block__title {
    margin: 0;
    padding: 90px 0 38px;
    font-size: 42px;
    line-height: 63px;

    @media (max-width: $tablet-width) {
        padding-top: 70px;
    }

    @media (min-width: $phone-width) and  (max-width: $tablet-mini-width) {
        font-size: 32px;
        line-height: 34px;
    }
}

.hero-block__description {
    font-weight: 500;
    font-size: 24px;
    color: var(--color-grey900);
    text-align: center;
    margin: 0 0 59px 0;
    text-align: center;

    @media (max-width: $tablet-width) {
        font-weight: 400;
        font-size: 24px;
    }

    @media (min-width: $phone-width) and  (max-width: $tablet-mini-width) {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }
}

.hero-block__button {
    display: inline-block;
    width: 100%;
    margin-bottom: 28px;
    transition: all 0.2s linear;

    &:hover {
        background: linear-gradient(272.54deg, #1B99D5 63.41%, #5EC3EE 136.15%);
    }
}

.hero-block__text {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    
    @media (min-width: $phone-width) and  (max-width: $tablet-mini-width) {
       font-size: 18px;
    }
}