.social-list {
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-list__item a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.6;
    }
}