.main-footer {
    background-color: var(--color-accent);
    color: var(--color-white);
    padding: 110px 60px 50px;

    @media (max-width: $tablet-width) {
        padding: 40px 0;
    }
}

.main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: $tablet-width) {
        @include __wrapper-tablet;

        flex-direction: column;
    }

    @media (min-width: $phone-width) and  (max-width: $tablet-mini-width) {
        @include __wrapper-mini-tablet;
    }
}

.main-footer__list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    gap: 60px;
    margin-right: 40px;

    @media (max-width: $tablet-width) {
        gap: 30px;
    }
}

.main-footer__item {
    max-width: 250px;

    @media (max-width: $tablet-width) {
        max-width: 50%;
    }

    @media (min-width: $phone-width) and  (max-width: $tablet-mini-width) {
        max-width: 80%;
    }
}

.main-footer__title {
    margin: 0;
    margin-bottom: 20px;
}

.main-footer__logo {
    display: block;
    margin-bottom: 20px;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.6;
    }
}

.main-footer__description {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    @media (min-width: $phone-width) and  (max-width: $tablet-mini-width) {
        font-size: 12px;
        line-height: 15px;
    }
}

.main-footer__copyright {
    margin: 0;
    text-align: center;
}

.main-footer__buttons {
    @media (max-width: $tablet-width) {
        margin: 0 auto;
        margin-bottom: 40px;
    }
}