.modal-hello {
}

.modal-hello__video-wrapper {
    max-width: 1200px;
    width: 76%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.modal-hello__center {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-hello__video-container {
    position: relative;
    display: block;
    background-color: var(--color-grey300);
    border-radius: 5px;
    padding: 20px 10px 10px;
}

.modal-hello__video {
    width: 100%;
    margin: 0 auto;
}

.modal__close {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 5em;
    top: 4em;
    transition: 0.3s;

    &:hover {
        transform: rotate(360deg);
    }
}


