.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(0, 0, 0, 0.8);
}

.overlay--flags {
    opacity: 1;
    z-index: 1500;
    visibility: visible;
    display: flex;
    background: rgba(59, 158, 212, 0.7);
    backdrop-filter: blur(5px);
}