:root {
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-accent: #1B99D5;


    --color-grey100: #F6F6F6;
    --color-grey200: #E7F1F8;
    --color-grey300: #F4F4F4;
    --color-grey400: #4A556D;
    --color-grey800: #20273e;
    --color-grey900: #222222;

    --color-lightblue: #5EC3EE;
    --color-lightblue100: #a4d7eca7;
}

$phone-width: 320px;
$tablet-mini-width: 660px;
$tablet-width: 992px;
$desktop-width: 1440px;