.wrapper-hero {
    padding: 0 30px;
    min-height: 780px;
    background: url('../../img/hero-block/preview-market.png') no-repeat,
        url('../../img/hero-block/preview-3d.png') no-repeat;
    background-size: 50% 100%, auto 100%;
    background-position: 100% 0%, 0% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $tablet-width) {
        @include __wrapper-tablet;

        min-height: auto;

        background: url(https://roomgram.com/wa-data/public/shop/themes/room/img/section/preview-market-tablet.png) no-repeat,
            url(https://roomgram.com/wa-data/public/shop/themes/room/img/section/preview-3d-tablet.png) no-repeat;
        background-size: 100% 50%, 100% 61%;
        background-position: 0% 100%, 0% 0;
        justify-content: center;
        padding-bottom: 30px;
    }

    @media (min-width: $phone-width) and  (max-width: $tablet-mini-width) {
        @include __wrapper-mini-tablet;

        padding-bottom: 40px;
    }
}